body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

.main-box {
  width: 100%;
  padding: 50px 0;
}

.form-box {
  width: 500px;   /* fixed width (non-responsive) */
  margin: auto;
  background: #dbe7ef;
  padding: 25px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-size: 13px;
  margin: 10px 0;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left {
  width: 50%;
}

.left label {
  display: block;
  font-size: 13px;
}

.right {
  width: 50%;
}

button {
  width: 100%;
  padding: 10px;
  background: #0b2c44;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}